* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 60px;
}

.logo {
  font-weight: bold;
  font-size: 25px;
  color: #1f738d;
}



nav a {
  margin-left: 30px;
  text-decoration: none;
  color: #000;
  font-size: 14px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 60px;
}

.text {
  flex: 1;
}

.text h2 {
  font-size: 22px;
  margin-bottom: 15px;
}

.text h2 span {
  color: #2e6662;
}

.text p {
  font-size: 14px;
  margin-bottom: 20px;
}

.button {
  display: flex;
  gap: 17px;
}

.button button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.buttoncontact {
  background-color: #5f9ea0;
  color: #252525;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
.buttonipsum{
    background-color: #eee;
  color: #000;
  border-radius: 5px;
}

.image {
  flex: 1;
  text-align: center;
}

.image img {
  width: 45%;
  max-width: 400px;
}